# Compiled object files
*.o

*.replit
*.nix
*.breakpoints

# Executable
vector_operations

# IDE-specific files (optional)
.vscode/
.idea/
.ccls-cache/

# Build output directory (optional)
build/

# Text editor temporary files (optional)
*~
