# Compiled object files
*.o

*.replit
*.nix
*.breakpoints
*.dSYM
.breakpoints
.replit
main
main-debug

# Executable
vector_operations
test_vector_operations

# IDE-specific files (optional)
.vscode/
.idea/
.ccls-cache/

# Build output directory (optional)
build/

# Text editor temporary files (optional)
*~
